In [1]:
import pandas as pd
import os
import numpy as np

from tbparse import SummaryReader

2024-01-13 07:18:46.890830: I external/local_tsl/tsl/cuda/cudart_stub.cc:31] Could not find cuda drivers on your machine, GPU will not be used.
2024-01-13 07:18:46.922842: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:9261] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2024-01-13 07:18:46.922873: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:607] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2024-01-13 07:18:46.924061: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1515] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2024-01-13 07:18:46.930312: I external/local_tsl/tsl/cuda/cudart_stub.cc:31] Could not find cuda drivers on your machine, GPU will not be used.
2024-01-13 07:18:46.934908: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-01-13 07:18:47.850542: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [2]:
os.getcwd()
# change directory to assembly_glovebox_dataet 
os.chdir('/home/shivansh/repos/assembly_glovebox_dataset')

In [3]:
versions = {
    'unet': {
        'id': 'version_240',
        'id, dropout': 'version_241',
        'ood': 'version_242',
        'ood, dropout': 'version_243',
        'replaced_gs': 'version_244',
        'replaced_gs, dropout': 'version_245',
        'replaced_gs, ood': 'version_246',
        'replaced_gs, ood, dropout': 'version_247',
    },
    'bisenet': {
        'id': 'version_232',
        'id, dropout': 'version_233',
        'ood': 'version_234',
        'ood, dropout': 'version_235',
        'replaced_gs': 'version_236',
        'replaced_gs, dropout': 'version_237',
        'replaced_gs, ood': 'version_238',
        'replaced_gs, ood, dropout': 'version_239'
    },
    'mobilesam': {
        'id': 'version_248',
        'id, dropout': 'version_249',
        'ood': 'version_250',
        'ood, dropout': 'version_251',
        'replaced_gs, ood': 'version_252',
        'replaced_gs, ood, dropout': 'version_253',
        'replaced_gs': 'version_254',
        'replaced_gs, dropout': 'version_255'
    },
    'unet_ensemble': {
        'id': 'NEW_id_unet_dropout_False/version_0',
        'id, dropout': 'NEW_id_unet_dropout_True/version_0',
        'ood': 'NEW_ood_unet_dropout_False/version_0',
        'ood, dropout': 'NEW_ood_unet_dropout_True/version_0',
        'replaced_gs': 'NEW_gs_unet_dropout_False/version_0',
        'replaced_gs, dropout': 'NEW_gs_unet_dropout_True/version_0',
        'replaced_gs, ood': 'NEW_ood+gs_unet_dropout_False/version_0',
        'replaced_gs, ood, dropout': 'NEW_ood+gs_unet_dropout_True/version_0',
    },
    'bisenet_ensemble': {
        'id': 'NEW_id_bisenetv2_dropout_False/version_0',
        'id, dropout': 'NEW_id_bisenetv2_dropout_True/version_0',
        'ood': 'NEW_ood_bisenetv2_dropout_False/version_0',
        'ood, dropout': 'NEW_ood_bisenetv2_dropout_True/version_0',
        'replaced_gs': 'NEW_gs_bisenetv2_dropout_False/version_0',
        'replaced_gs, dropout': 'NEW_gs_bisenetv2_dropout_True/version_0',
        'replaced_gs, ood': 'NEW_ood+gs_bisenetv2_dropout_False/version_0',
        'replaced_gs, ood, dropout': 'NEW_ood+gs_bisenetv2_dropout_True/version_0',
    },
    'mobilesam_ensemble': {
        'id': 'NEW_id_mobilesam_dropout_False/version_0',
        'id, dropout': 'NEW_id_mobilesam_dropout_True/version_0',
        'ood': 'NEW_ood_mobilesam_dropout_False/version_0',
        'ood, dropout': 'NEW_ood_mobilesam_dropout_True/version_0',
        'replaced_gs': 'NEW_gs_mobilesam_dropout_False/version_0',
        'replaced_gs, dropout': 'NEW_gs_mobilesam_dropout_True/version_0',
        'replaced_gs, ood': 'NEW_ood+gs_mobilesam_dropout_False/version_0',
        'replaced_gs, ood, dropout': 'NEW_ood+gs_mobilesam_dropout_True/version_0'
    }

}

In [4]:
# create pandas dataframe

dfs = []

for model in versions:
    for set in versions[model]:
        version = versions[model][set]
        log_dir = f"./lightning_logs/{version}"
        reader =  SummaryReader(log_dir)
        df = reader.scalars

        print(model, set, len(df))

        # TODO: rename respective versions to type with dictionary
        df['type'] = set
        df['model'] = model

        dfs.append(df[~df['tag'].isin(['epoch', 'test_loss'])])

result = pd.concat(dfs)

2024-01-13 07:18:48.511712: W tensorflow/core/common_runtime/gpu/gpu_device.cc:2256] Cannot dlopen some GPU libraries. Please make sure the missing libraries mentioned above are installed properly if you would like to use GPU. Follow the guide at https://www.tensorflow.org/install/gpu for how to download and setup the required libraries for your platform.
Skipping registering GPU devices...

unet id 6
unet id, dropout 6
unet ood 6
unet ood, dropout 6
unet replaced_gs 6
unet replaced_gs, dropout 6
unet replaced_gs, ood 6
unet replaced_gs, ood, dropout 6
bisenet id 6
bisenet id, dropout 6
bisenet ood 6
bisenet ood, dropout 6
bisenet replaced_gs 6
bisenet replaced_gs, dropout 6
bisenet replaced_gs, ood 6
bisenet replaced_gs, ood, dropout 6
mobilesam id 6
mobilesam id, dropout 6
mobilesam ood 6
mobilesam ood, dropout 6
mobilesam replaced_gs, ood 6
mobilesam replaced_gs, ood, dropout 6
mobilesam replaced_gs 6
mobilesam replaced_gs, dropout 6
unet_ensemble id 6
unet_ensemble id, dropout 6
unet_ensemble ood 6
unet_ensemble ood, dropout 6
unet_ensemble replaced_gs 6
unet_ensemble replaced_gs, dropout 6
unet_ensemble replaced_gs, ood 6
unet_ensemble replaced_gs, ood, dropout 6
bisenet_ensemble id 6
bisenet_ensemble id, dropout 6
bisenet_ensemble ood 6
bisenet_ensemble ood, dropout 6
bisenet_ensemble replaced_gs 6
bisenet_ensemble replaced_gs, dropout 6
bisenet_ensemble replaced_gs, ood 6
bisenet_ensemble replaced_gs, ood, dropout 6
mobilesam_ensemble id 6
mobilesam_ensemble id, dropout 6
mobilesam_ensemble ood 6
mobilesam_ensemble ood, dropout 6
mobilesam_ensemble replaced_gs 6
mobilesam_ensemble replaced_gs, dropout 6
mobilesam_ensemble replaced_gs, ood 6
mobilesam_ensemble replaced_gs, ood, dropout 6

In [5]:
result

,step,tag,value,type,model
0,0,avg_entropy,0.010158,id,unet
1,0,avg_frame_reference_time,0.007865,id,unet
3,0,test_ece,0.003417,id,unet
4,0,test_iou,0.800265,id,unet
0,0,avg_entropy,0.011253,"id, dropout",unet
...,...,...,...,...,...
4,0,test_iou,0.479196,"replaced_gs, ood",mobilesam_ensemble
0,0,avg_entropy,1.414771,"replaced_gs, ood, dropout",mobilesam_ensemble
1,0,avg_frame_reference_time,0.064920,"replaced_gs, ood, dropout",mobilesam_ensemble
3,0,test_ece,0.408584,"replaced_gs, ood, dropout",mobilesam_ensemble
4,0,test_iou,0.511192,"replaced_gs, ood, dropout",mobilesam_ensemble

In [6]:
# dfs = {value: result.loc[result['model'] == value] for value in ['bisenet', 'mobilesam', 'unet', 'bisenet_ensemble', 'mobilesam_ensemble', 'unet_ensemble']}
dfs = {value: result.loc[result['model'] == value] for value in ['bisenet','unet', 'bisenet_ensemble', 'unet_ensemble']}

In [16]:
msam_df = {value: result.loc[result['model'] == value] for value in ['mobilesam','mobilesam_ensemble']}

{'mobilesam':    step                       tag     value                       type  \
 0     0               avg_entropy  1.412892                         id
 1     0  avg_frame_reference_time  0.026409                         id
 3     0                  test_ece  0.402011                         id
 4     0                  test_iou  0.562161                         id
 0     0               avg_entropy  1.413186                id, dropout
 1     0  avg_frame_reference_time  0.028153                id, dropout
 3     0                  test_ece  0.401142                id, dropout
 4     0                  test_iou  0.548573                id, dropout
 0     0               avg_entropy  1.413025                        ood
 1     0  avg_frame_reference_time  0.021361                        ood
 3     0                  test_ece  0.405900                        ood
 4     0                  test_iou  0.512566                        ood
 0     0               avg_entropy  1.413435               ood, dropout
 1     0  avg_frame_reference_time  0.022962               ood, dropout
 3     0                  test_ece  0.405717               ood, dropout
 4     0                  test_iou  0.521991               ood, dropout
 0     0               avg_entropy  1.413381           replaced_gs, ood
 1     0  avg_frame_reference_time  0.028479           replaced_gs, ood
 3     0                  test_ece  0.407582           replaced_gs, ood
 4     0                  test_iou  0.519569           replaced_gs, ood
 0     0               avg_entropy  1.413607  replaced_gs, ood, dropout
 1     0  avg_frame_reference_time  0.026045  replaced_gs, ood, dropout
 3     0                  test_ece  0.407437  replaced_gs, ood, dropout
 4     0                  test_iou  0.526338  replaced_gs, ood, dropout
 0     0               avg_entropy  1.413162                replaced_gs
 1     0  avg_frame_reference_time  0.019306                replaced_gs
 3     0                  test_ece  0.406652                replaced_gs
 4     0                  test_iou  0.513649                replaced_gs
 0     0               avg_entropy  1.413378       replaced_gs, dropout
 1     0  avg_frame_reference_time  0.021454       replaced_gs, dropout
 3     0                  test_ece  0.406472       replaced_gs, dropout
 4     0                  test_iou  0.518810       replaced_gs, dropout

        model
 0  mobilesam
 1  mobilesam
 3  mobilesam
 4  mobilesam
 0  mobilesam
 1  mobilesam
 3  mobilesam
 4  mobilesam
 0  mobilesam
 1  mobilesam
 3  mobilesam
 4  mobilesam
 0  mobilesam
 1  mobilesam
 3  mobilesam
 4  mobilesam
 0  mobilesam
 1  mobilesam
 3  mobilesam
 4  mobilesam
 0  mobilesam
 1  mobilesam
 3  mobilesam
 4  mobilesam
 0  mobilesam
 1  mobilesam
 3  mobilesam
 4  mobilesam
 0  mobilesam
 1  mobilesam
 3  mobilesam
 4  mobilesam  ,
 'mobilesam_ensemble':    step                       tag     value                       type  \
 0     0               avg_entropy  1.413469                         id
 1     0  avg_frame_reference_time  0.051983                         id
 3     0                  test_ece  0.401227                         id
 4     0                  test_iou  0.516845                         id
 0     0               avg_entropy  1.413645                id, dropout
 1     0  avg_frame_reference_time  0.045361                id, dropout
 3     0                  test_ece  0.400395                id, dropout
 4     0                  test_iou  0.497371                id, dropout
 0     0               avg_entropy  1.414356                        ood
 1     0  avg_frame_reference_time  0.045770                        ood
 3     0                  test_ece  0.421017                        ood
 4     0                  test_iou  0.512825                        ood
 0     0               avg_entropy  1.414169               ood, dropout
 1     0  avg_frame_reference_time  0.045539               ood, dropout
 3     0                  test_ece  0.422280               ood, dropout
 4     0                  test_iou  0.531453               ood, dropout
 0     0               avg_entropy  1.414812                replaced_gs
 1     0  avg_frame_reference_time  0.046471                replaced_gs
 3     0                  test_ece  0.417146                replaced_gs
 4     0                  test_iou  0.480163                replaced_gs
 0     0               avg_entropy  1.414337       replaced_gs, dropout
 1     0  avg_frame_reference_time  0.045982       replaced_gs, dropout
 3     0                  test_ece  0.419340       replaced_gs, dropout
 4     0                  test_iou  0.521219       replaced_gs, dropout
 0     0               avg_entropy  1.414770           replaced_gs, ood
 1     0  avg_frame_reference_time  0.045483           replaced_gs, ood
 3     0                  test_ece  0.406972           replaced_gs, ood
 4     0                  test_iou  0.479196           replaced_gs, ood
 0     0               avg_entropy  1.414771  replaced_gs, ood, dropout
 1     0  avg_frame_reference_time  0.064920  replaced_gs, ood, dropout
 3     0                  test_ece  0.408584  replaced_gs, ood, dropout
 4     0                  test_iou  0.511192  replaced_gs, ood, dropout

                 model
 0  mobilesam_ensemble
 1  mobilesam_ensemble
 3  mobilesam_ensemble
 4  mobilesam_ensemble
 0  mobilesam_ensemble
 1  mobilesam_ensemble
 3  mobilesam_ensemble
 4  mobilesam_ensemble
 0  mobilesam_ensemble
 1  mobilesam_ensemble
 3  mobilesam_ensemble
 4  mobilesam_ensemble
 0  mobilesam_ensemble
 1  mobilesam_ensemble
 3  mobilesam_ensemble
 4  mobilesam_ensemble
 0  mobilesam_ensemble
 1  mobilesam_ensemble
 3  mobilesam_ensemble
 4  mobilesam_ensemble
 0  mobilesam_ensemble
 1  mobilesam_ensemble
 3  mobilesam_ensemble
 4  mobilesam_ensemble
 0  mobilesam_ensemble
 1  mobilesam_ensemble
 3  mobilesam_ensemble
 4  mobilesam_ensemble
 0  mobilesam_ensemble
 1  mobilesam_ensemble
 3  mobilesam_ensemble
 4  mobilesam_ensemble  }

In [19]:
z = msam_df['mobilesam'].merge(msam_df['mobilesam_ensemble'], on=['tag', 'type'], suffixes=("_mobilesam","_mobilesam_ensemble")).groupby(["tag"], group_keys=True).apply(lambda x: x.drop(columns=['tag', 'step_mobilesam', 'step_mobilesam_ensemble']))

                             value_mobilesam                       type  \
tag
avg_entropy              0          1.412892                         id
                         4          1.413186                id, dropout
                         8          1.413025                        ood
                         12         1.413435               ood, dropout
                         16         1.413381           replaced_gs, ood
                         20         1.413607  replaced_gs, ood, dropout
                         24         1.413162                replaced_gs
                         28         1.413378       replaced_gs, dropout
avg_frame_reference_time 1          0.026409                         id
                         5          0.028153                id, dropout
                         9          0.021361                        ood
                         13         0.022962               ood, dropout
                         17         0.028479           replaced_gs, ood
                         21         0.026045  replaced_gs, ood, dropout
                         25         0.019306                replaced_gs
                         29         0.021454       replaced_gs, dropout
test_ece                 2          0.402011                         id
                         6          0.401142                id, dropout
                         10         0.405900                        ood
                         14         0.405717               ood, dropout
                         18         0.407582           replaced_gs, ood
                         22         0.407437  replaced_gs, ood, dropout
                         26         0.406652                replaced_gs
                         30         0.406472       replaced_gs, dropout
test_iou                 3          0.562161                         id
                         7          0.548573                id, dropout
                         11         0.512566                        ood
                         15         0.521991               ood, dropout
                         19         0.519569           replaced_gs, ood
                         23         0.526338  replaced_gs, ood, dropout
                         27         0.513649                replaced_gs
                         31         0.518810       replaced_gs, dropout

                            model_mobilesam  value_mobilesam_ensemble  \
tag
avg_entropy              0        mobilesam                  1.413469
                         4        mobilesam                  1.413645
                         8        mobilesam                  1.414356
                         12       mobilesam                  1.414169
                         16       mobilesam                  1.414770
                         20       mobilesam                  1.414771
                         24       mobilesam                  1.414812
                         28       mobilesam                  1.414337
avg_frame_reference_time 1        mobilesam                  0.051983
                         5        mobilesam                  0.045361
                         9        mobilesam                  0.045770
                         13       mobilesam                  0.045539
                         17       mobilesam                  0.045483
                         21       mobilesam                  0.064920
                         25       mobilesam                  0.046471
                         29       mobilesam                  0.045982
test_ece                 2        mobilesam                  0.401227
                         6        mobilesam                  0.400395
                         10       mobilesam                  0.421017
                         14       mobilesam                  0.422280
                         18       mobilesam                  0.406972
                         22       mobilesam                  0.408584
                         26       mobilesam                  0.417146
                         30       mobilesam                  0.419340
test_iou                 3        mobilesam                  0.516845
                         7        mobilesam                  0.497371
                         11       mobilesam                  0.512825
                         15       mobilesam                  0.531453
                         19       mobilesam                  0.479196
                         23       mobilesam                  0.511192
                         27       mobilesam                  0.480163
                         31       mobilesam                  0.521219

                            model_mobilesam_ensemble
tag
avg_entropy              0        mobilesam_ensemble
                         4        mobilesam_ensemble
                         8        mobilesam_ensemble
                         12       mobilesam_ensemble
                         16       mobilesam_ensemble
                         20       mobilesam_ensemble
                         24       mobilesam_ensemble
                         28       mobilesam_ensemble
avg_frame_reference_time 1        mobilesam_ensemble
                         5        mobilesam_ensemble
                         9        mobilesam_ensemble
                         13       mobilesam_ensemble
                         17       mobilesam_ensemble
                         21       mobilesam_ensemble
                         25       mobilesam_ensemble
                         29       mobilesam_ensemble
test_ece                 2        mobilesam_ensemble
                         6        mobilesam_ensemble
                         10       mobilesam_ensemble
                         14       mobilesam_ensemble
                         18       mobilesam_ensemble
                         22       mobilesam_ensemble
                         26       mobilesam_ensemble
                         30       mobilesam_ensemble
test_iou                 3        mobilesam_ensemble
                         7        mobilesam_ensemble
                         11       mobilesam_ensemble
                         15       mobilesam_ensemble
                         19       mobilesam_ensemble
                         23       mobilesam_ensemble
                         27       mobilesam_ensemble
                         31       mobilesam_ensemble

In [20]:
# x = dfs['mobulesam'].merge(dfs['bisenet'], on=['tag', 'type'], suffixes=("_mobilesam","_bisenet")).groupby(["tag"], group_keys=True).apply(lambda x: x.drop(columns=['tag']))
# x = x.merge(dfs['unet'], on=['tag', 'type']).groupby(["tag"], group_keys=True).apply(lambda x: x.drop(columns=['tag', 'step']))
# x = x.merge(dfs['bisenet_ensemble'], on=['tag', 'type'], suffixes=("_unet","_bisenet_ensemble")).groupby(["tag"], group_keys=True).apply(lambda x: x.drop(columns=['tag', 'step']))
# x = x.merge(dfs['mobilesam_ensemble'], on=['tag', 'type']).groupby(["tag"], group_keys=True).apply(lambda x: x.drop(columns=['tag', 'step']))
# x = x.merge(dfs['unet_ensemble'], on=['tag', 'type'], suffixes=(None,"_unet_ensemble")).groupby(["tag"], group_keys=True).apply(lambda x: x.drop(columns=['tag', 'step']))
# x

x = dfs['unet'].merge(dfs['bisenet'], on=['tag', 'type'], suffixes=("_unet","_bisenet")).groupby(["tag"], group_keys=True).apply(lambda x: x.drop(columns=['tag']))
x = x.merge(dfs['unet_ensemble'], on=['tag', 'type']).groupby(["tag"], group_keys=True).apply(lambda x: x.drop(columns=['tag', 'step']))
x = x.merge(dfs['bisenet_ensemble'], on=['tag', 'type'], suffixes=("_unet_ensemble","_bisenet_ensemble")).groupby(["tag"], group_keys=True).apply(lambda x: x.drop(columns=['tag', 'step']))

                             step_unet  value_unet                       type  \
tag
avg_entropy              0           0    0.010158                         id
                         1           0    0.011253                id, dropout
                         2           0    0.005184                        ood
                         3           0    0.007197               ood, dropout
                         4           0    0.006127                replaced_gs
                         5           0    0.008470       replaced_gs, dropout
                         6           0    0.005594           replaced_gs, ood
                         7           0    0.007635  replaced_gs, ood, dropout
avg_frame_reference_time 8           0    0.007865                         id
                         9           0    0.008304                id, dropout
                         10          0    0.004237                        ood
                         11          0    0.004422               ood, dropout
                         12          0    0.006633                replaced_gs
                         13          0    0.006800       replaced_gs, dropout
                         14          0    0.003369           replaced_gs, ood
                         15          0    0.003832  replaced_gs, ood, dropout
test_ece                 16          0    0.003417                         id
                         17          0    0.003566                id, dropout
                         18          0    0.010047                        ood
                         19          0    0.009478               ood, dropout
                         20          0    0.011415                replaced_gs
                         21          0    0.011520       replaced_gs, dropout
                         22          0    0.010373           replaced_gs, ood
                         23          0    0.009829  replaced_gs, ood, dropout
test_iou                 24          0    0.800265                         id
                         25          0    0.789733                id, dropout
                         26          0    0.566340                        ood
                         27          0    0.570893               ood, dropout
                         28          0    0.562797                replaced_gs
                         29          0    0.555607       replaced_gs, dropout
                         30          0    0.569445           replaced_gs, ood
                         31          0    0.580234  replaced_gs, ood, dropout

                            model_unet  step_bisenet  value_bisenet  \
tag
avg_entropy              0        unet             0       0.013759
                         1        unet             0       0.012046
                         2        unet             0       0.009773
                         3        unet             0       0.011906
                         4        unet             0       0.015357
                         5        unet             0       0.014907
                         6        unet             0       0.011669
                         7        unet             0       0.013594
avg_frame_reference_time 8        unet             0       0.007067
                         9        unet             0       0.007403
                         10       unet             0       0.004495
                         11       unet             0       0.004637
                         12       unet             0       0.005660
                         13       unet             0       0.006154
                         14       unet             0       0.002714
                         15       unet             0       0.002975
test_ece                 16       unet             0       0.005229
                         17       unet             0       0.005909
                         18       unet             0       0.010331
                         19       unet             0       0.010191
                         20       unet             0       0.011424
                         21       unet             0       0.012671
                         22       unet             0       0.011102
                         23       unet             0       0.011581
test_iou                 24       unet             0       0.730355
                         25       unet             0       0.732001
                         26       unet             0       0.540974
                         27       unet             0       0.551252
                         28       unet             0       0.544704
                         29       unet             0       0.549463
                         30       unet             0       0.533492
                         31       unet             0       0.539185

                            model_bisenet  value_unet_ensemble  \
tag
avg_entropy              0        bisenet             0.008559
                         1        bisenet             0.008416
                         2        bisenet             0.005430
                         3        bisenet             0.005741
                         4        bisenet             0.006443
                         5        bisenet             0.006863
                         6        bisenet             0.006179
                         7        bisenet             0.005619
avg_frame_reference_time 8        bisenet             0.007728
                         9        bisenet             0.000243
                         10       bisenet             0.002078
                         11       bisenet             0.000692
                         12       bisenet             0.003075
                         13       bisenet             0.001005
                         14       bisenet             0.001404
                         15       bisenet             0.000470
test_ece                 16       bisenet             0.004325
                         17       bisenet             0.004282
                         18       bisenet             0.010033
                         19       bisenet             0.010039
                         20       bisenet             0.009474
                         21       bisenet             0.009223
                         22       bisenet             0.009859
                         23       bisenet             0.009643
test_iou                 24       bisenet             0.801725
                         25       bisenet             0.801884
                         26       bisenet             0.593632
                         27       bisenet             0.575274
                         28       bisenet             0.645814
                         29       bisenet             0.648399
                         30       bisenet             0.605562
                         31       bisenet             0.612479

                            model_unet_ensemble  value_bisenet_ensemble  \
tag
avg_entropy              0        unet_ensemble                0.012162
                         1        unet_ensemble                0.012016
                         2        unet_ensemble                0.008370
                         3        unet_ensemble                0.008346
                         4        unet_ensemble                0.011088
                         5        unet_ensemble                0.013749
                         6        unet_ensemble                0.009695
                         7        unet_ensemble                0.009318
avg_frame_reference_time 8        unet_ensemble                0.007525
                         9        unet_ensemble                0.000271
                         10       unet_ensemble                0.003851
                         11       unet_ensemble                0.001628
                         12       unet_ensemble                0.006780
                         13       unet_ensemble                0.002109
                         14       unet_ensemble                0.002464
                         15       unet_ensemble                0.000839
test_ece                 16       unet_ensemble                0.005565
                         17       unet_ensemble                0.005789
                         18       unet_ensemble                0.011995
                         19       unet_ensemble                0.012849
                         20       unet_ensemble                0.010916
                         21       unet_ensemble                0.012088
                         22       unet_ensemble                0.011935
                         23       unet_ensemble                0.012265
test_iou                 24       unet_ensemble                0.742672
                         25       unet_ensemble                0.738403
                         26       unet_ensemble                0.532127
                         27       unet_ensemble                0.499097
                         28       unet_ensemble                0.585683
                         29       unet_ensemble                0.562227
                         30       unet_ensemble                0.540905
                         31       unet_ensemble                0.542906

                            model_bisenet_ensemble
tag
avg_entropy              0        bisenet_ensemble
                         1        bisenet_ensemble
                         2        bisenet_ensemble
                         3        bisenet_ensemble
                         4        bisenet_ensemble
                         5        bisenet_ensemble
                         6        bisenet_ensemble
                         7        bisenet_ensemble
avg_frame_reference_time 8        bisenet_ensemble
                         9        bisenet_ensemble
                         10       bisenet_ensemble
                         11       bisenet_ensemble
                         12       bisenet_ensemble
                         13       bisenet_ensemble
                         14       bisenet_ensemble
                         15       bisenet_ensemble
test_ece                 16       bisenet_ensemble
                         17       bisenet_ensemble
                         18       bisenet_ensemble
                         19       bisenet_ensemble
                         20       bisenet_ensemble
                         21       bisenet_ensemble
                         22       bisenet_ensemble
                         23       bisenet_ensemble
test_iou                 24       bisenet_ensemble
                         25       bisenet_ensemble
                         26       bisenet_ensemble
                         27       bisenet_ensemble
                         28       bisenet_ensemble
                         29       bisenet_ensemble
                         30       bisenet_ensemble
                         31       bisenet_ensemble

In [21]:
# x = x.rename(columns={'value_mobilesam': 'mobilesam', 
#                       'value_bisenet': 'bisenet',
#                         'value_unet': 'unet',
#                         'value_bisenet_ensemble': 'bisenet_ensemble',
#                         'value_mobilesam_ensemble': 'mobilesam_ensemble',
#                         'value_unet_ensemble': 'unet_ensemble'})


# x.drop(columns=['model_unet', 'model_bisenet', 'model_mobilesam', 'model_bisenet_ensemble',
#                 'model_unet_ensemble', 'model_mobilesam_ensemble'], inplace=True)
# # columns_to_drop = ['model_x', 'model_y', 'model']
# # df = df.drop(columns=columns_to_drop)

# # TODO: remove epoch columns
# # TODO: fix avg time reference values

x_next = x.rename(columns={  'value_bisenet': 'bisenet',
                        'value_unet': 'unet',
                        'value_bisenet_ensemble': 'bisenet_ensemble',
                        'value_unet_ensemble': 'unet_ensemble'})


x_next.drop(columns=['model_unet', 'model_bisenet', 'model_bisenet_ensemble',
                'model_unet_ensemble'], inplace=True)


z_next = z.rename(columns={'value_mobilesam': 'mobilesam',
                        'value_mobilesam_ensemble': 'mobilesam_ensemble'})


z_next.drop(columns=['model_mobilesam', 'model_mobilesam_ensemble'], inplace=True)
# columns_to_drop = ['model_x', 'model_y', 'model']
# df = df.drop(columns=columns_to_drop)

# TODO: remove epoch columns
# TODO: fix avg time reference values

In [22]:
y = x_next[['type', 'bisenet', 'unet', 'bisenet_ensemble', 'unet_ensemble']]
y

                                                  type   bisenet      unet  \
tag
avg_entropy              0                          id  0.013759  0.010158
                         1                 id, dropout  0.012046  0.011253
                         2                         ood  0.009773  0.005184
                         3                ood, dropout  0.011906  0.007197
                         4                 replaced_gs  0.015357  0.006127
                         5        replaced_gs, dropout  0.014907  0.008470
                         6            replaced_gs, ood  0.011669  0.005594
                         7   replaced_gs, ood, dropout  0.013594  0.007635
avg_frame_reference_time 8                          id  0.007067  0.007865
                         9                 id, dropout  0.007403  0.008304
                         10                        ood  0.004495  0.004237
                         11               ood, dropout  0.004637  0.004422
                         12                replaced_gs  0.005660  0.006633
                         13       replaced_gs, dropout  0.006154  0.006800
                         14           replaced_gs, ood  0.002714  0.003369
                         15  replaced_gs, ood, dropout  0.002975  0.003832
test_ece                 16                         id  0.005229  0.003417
                         17                id, dropout  0.005909  0.003566
                         18                        ood  0.010331  0.010047
                         19               ood, dropout  0.010191  0.009478
                         20                replaced_gs  0.011424  0.011415
                         21       replaced_gs, dropout  0.012671  0.011520
                         22           replaced_gs, ood  0.011102  0.010373
                         23  replaced_gs, ood, dropout  0.011581  0.009829
test_iou                 24                         id  0.730355  0.800265
                         25                id, dropout  0.732001  0.789733
                         26                        ood  0.540974  0.566340
                         27               ood, dropout  0.551252  0.570893
                         28                replaced_gs  0.544704  0.562797
                         29       replaced_gs, dropout  0.549463  0.555607
                         30           replaced_gs, ood  0.533492  0.569445
                         31  replaced_gs, ood, dropout  0.539185  0.580234

                             bisenet_ensemble  unet_ensemble
tag
avg_entropy              0           0.012162       0.008559
                         1           0.012016       0.008416
                         2           0.008370       0.005430
                         3           0.008346       0.005741
                         4           0.011088       0.006443
                         5           0.013749       0.006863
                         6           0.009695       0.006179
                         7           0.009318       0.005619
avg_frame_reference_time 8           0.007525       0.007728
                         9           0.000271       0.000243
                         10          0.003851       0.002078
                         11          0.001628       0.000692
                         12          0.006780       0.003075
                         13          0.002109       0.001005
                         14          0.002464       0.001404
                         15          0.000839       0.000470
test_ece                 16          0.005565       0.004325
                         17          0.005789       0.004282
                         18          0.011995       0.010033
                         19          0.012849       0.010039
                         20          0.010916       0.009474
                         21          0.012088       0.009223
                         22          0.011935       0.009859
                         23          0.012265       0.009643
test_iou                 24          0.742672       0.801725
                         25          0.738403       0.801884
                         26          0.532127       0.593632
                         27          0.499097       0.575274
                         28          0.585683       0.645814
                         29          0.562227       0.648399
                         30          0.540905       0.605562
                         31          0.542906       0.612479

In [26]:
w = z_next[['type', 'mobilesam', 'mobilesam_ensemble']]
w

                                                  type  mobilesam  \
tag
avg_entropy              0                          id   1.412892
                         4                 id, dropout   1.413186
                         8                         ood   1.413025
                         12               ood, dropout   1.413435
                         16           replaced_gs, ood   1.413381
                         20  replaced_gs, ood, dropout   1.413607
                         24                replaced_gs   1.413162
                         28       replaced_gs, dropout   1.413378
avg_frame_reference_time 1                          id   0.026409
                         5                 id, dropout   0.028153
                         9                         ood   0.021361
                         13               ood, dropout   0.022962
                         17           replaced_gs, ood   0.028479
                         21  replaced_gs, ood, dropout   0.026045
                         25                replaced_gs   0.019306
                         29       replaced_gs, dropout   0.021454
test_ece                 2                          id   0.402011
                         6                 id, dropout   0.401142
                         10                        ood   0.405900
                         14               ood, dropout   0.405717
                         18           replaced_gs, ood   0.407582
                         22  replaced_gs, ood, dropout   0.407437
                         26                replaced_gs   0.406652
                         30       replaced_gs, dropout   0.406472
test_iou                 3                          id   0.562161
                         7                 id, dropout   0.548573
                         11                        ood   0.512566
                         15               ood, dropout   0.521991
                         19           replaced_gs, ood   0.519569
                         23  replaced_gs, ood, dropout   0.526338
                         27                replaced_gs   0.513649
                         31       replaced_gs, dropout   0.518810

                             mobilesam_ensemble
tag
avg_entropy              0             1.413469
                         4             1.413645
                         8             1.414356
                         12            1.414169
                         16            1.414770
                         20            1.414771
                         24            1.414812
                         28            1.414337
avg_frame_reference_time 1             0.051983
                         5             0.045361
                         9             0.045770
                         13            0.045539
                         17            0.045483
                         21            0.064920
                         25            0.046471
                         29            0.045982
test_ece                 2             0.401227
                         6             0.400395
                         10            0.421017
                         14            0.422280
                         18            0.406972
                         22            0.408584
                         26            0.417146
                         30            0.419340
test_iou                 3             0.516845
                         7             0.497371
                         11            0.512825
                         15            0.531453
                         19            0.479196
                         23            0.511192
                         27            0.480163
                         31            0.521219

In [ ]:
save_df = y.T

save_df.to_csv('results4.csv')

In [27]:
save_df2 = w.T

save_df2.to_csv('results5.csv')

# Reading Predictive Entropy Data

In [ ]:
os.getcwd()

'/home/shivansh/repos/assembly_glovebox_dataset'

In [ ]:
set

'replaced_gs, dropout'

In [ ]:
# writing out the mean predictive entropy just to get a good glance, box plots should be easy

# create pandas dataframe
import os
import glob


columns = list(versions.keys())
index = list(versions['unet'].keys())
entropy_df = pd.DataFrame(index = index, columns=columns)

for model in versions:
    for set in versions[model]:
        version = versions[model][set]
        csv = f"./lightning_logs/{version}/raw_entropy.csv"

        df = pd.read_csv(csv, header=None)

        mean = df.mean()


        entropy_df.at[set, model] = mean.values[0]

# result = pd.concat(dfs)

In [ ]:
entropy_df

,unet,bisenet,mobilesam,unet_ensemble,bisenet_ensemble,mobilesam_ensemble
ood,0.003659,0.006411,0.979398,0.003816,0.00584,0.979822
"ood, dropout",0.005112,0.007935,0.979666,0.003514,0.005624,0.979754
id,0.007556,0.008496,0.979463,0.005857,0.008323,0.979833
"id, dropout",0.007909,0.009299,1.077969,0.00602,0.008277,0.979891
"replaced_gs, ood",0.003802,0.008012,0.979439,0.004268,0.00632,0.980353
"replaced_gs, ood, dropout",0.005356,0.008667,0.979725,0.004103,0.006451,0.980199
replaced_gs,0.00421,0.0106,0.979946,0.004479,0.007451,0.980768
"replaced_gs, dropout",0.006004,0.009982,0.980029,0.004389,0.007718,0.980786

In [ ]:
entropy_df.T.to_csv('entropy_results.csv')

# Ignore the following

In [ ]:
# # ! pip install netcal
# from netcal.metrics.confidence import ECE, ACE
# import torch
# bs = 4
# num_classes = 3
# img_h = img_w = 256

# y_pred = torch.rand(bs, num_classes, img_h, img_w)

# print(y_pred.dtype)
# flattened_y_pred = torch.flatten(y_pred, start_dim=2) # dims: [bs, num_classes, img_resolution (img_h*img_w)]

# y_gt = torch.round((num_classes-1) * torch.rand(bs, img_h, img_w))
# flattened_y_gt = torch.flatten(y_gt, start_dim=1) # dims: [bs, num_classes, img_resolution (img_h*img_w)]

# print(y_gt.dtype)

# ace_class = ACE(bins=15, equal_intervals=False)
# ece_class = ECE(bins=15)

# avg_ace_over_batch = 0
# avg_ece_over_batch = 0
# for item in range(flattened_y_pred.shape[0]): # iterate through batches
#   curr_pred = flattened_y_pred[item] # initially num_classes, 4096
#   print(curr_pred.shape)
#   test = torch.transpose(curr_pred, 0, 1).numpy()
#   print(test.shape)
#   print(test.dtype)

#   curr_gt = flattened_y_gt[item].numpy()
#   print(curr_gt.shape)
#   print(curr_gt.dtype)

#   avg_ace_over_batch += ace_class.measure(test, curr_gt)
#   avg_ece_over_batch += ece_class.measure(test, curr_gt)
# print(f"avg ace: {avg_ace_over_batch/flattened_y_pred.shape[0]}")
# print(f"avg ece: {avg_ece_over_batch/flattened_y_pred.shape[0]}")

torch.float32
torch.float32
torch.Size([3, 65536])
(65536, 3)
float32
(65536,)
float32
torch.Size([3, 65536])
(65536, 3)
float32
(65536,)
float32
torch.Size([3, 65536])
(65536, 3)
float32
(65536,)
float32
torch.Size([3, 65536])
(65536, 3)
float32
(65536,)
float32
avg ace: 0.4201671812435384
avg ece: 0.423158360382331